/* work sens font family added */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');

*{font-family: 'Work Sans', sans-serif;}
body{
    margin: 0;
    padding: 0;
}

/* shared style  */
.primary-button{
    background-color: #FF900E;
   font-weight: 600;
   color: white;
  font-size: 20px; 
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    margin: 20px 0;
    cursor: pointer;
     
}

.text-primary{
    color: #727272;
}

/* header style added  */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 250px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
 }
nav > ul {
    display: flex;
    text-decoration: none;

}

nav  li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */

.banner-content{
    max-width: 862px;
    text-align: center;
    margin: 0 auto;

}

.banner-title{
    font-size: 64px;
font-style: normal;
font-weight: 700;
color: #131313;
}

/* main section style  */
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* team container styles */

.team-container{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 2rem 0;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}
.quick-list{
    
    font-size: 45px;
font-weight: 500;
}
.of-our{font-size: 45px;
    font-style: normal;
    font-weight: 700;}
.features{
    font-size: 45px;
font-style: normal;
font-weight: 700;
color: #FF900E;

}

.team-description{
   
    font-size: 16px;
font-style: normal;
font-weight: 400;
}





/* responsive media queries  */
/* mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding:20px;
    }
    nav {
         flex-direction: column;
    }
    
    .team-container{
        flex-direction: column-reverse;
        
    }
    .team-img-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        margin: 2rem;
        align-items: center;
       
    }
}
/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width:960px) {
    header{
        padding:50px;
    }
    nav {
         flex-direction: column;
    }
    .team-container{
        
        flex-direction: column;
        
    }

}

